/StrategyGameDemo/obj/Debug/net8.0/apphost
/StrategyGameDemo/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
/StrategyGameDemo/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Binder.dll
/StrategyGameDemo/bin/Debug/net8.0/Microsoft.Extensions.Configuration.CommandLine.dll
/StrategyGameDemo/bin/Debug/net8.0/Microsoft.Extensions.Configuration.dll
/StrategyGameDemo/bin/Debug/net8.0/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
/StrategyGameDemo/bin/Debug/net8.0/Microsoft.Extensions.Configuration.FileExtensions.dll
/StrategyGameDemo/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Json.dll
/StrategyGameDemo/bin/Debug/net8.0/Microsoft.Extensions.Configuration.UserSecrets.dll
/StrategyGameDemo/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/StrategyGameDemo/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
/StrategyGameDemo/bin/Debug/net8.0/Microsoft.Extensions.Diagnostics.Abstractions.dll
/StrategyGameDemo/bin/Debug/net8.0/Microsoft.Extensions.Diagnostics.dll
/StrategyGameDemo/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Abstractions.dll
/StrategyGameDemo/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Physical.dll
/StrategyGameDemo/bin/Debug/net8.0/Microsoft.Extensions.FileSystemGlobbing.dll
/StrategyGameDemo/bin/Debug/net8.0/Microsoft.Extensions.Hosting.Abstractions.dll
/StrategyGameDemo/bin/Debug/net8.0/Microsoft.Extensions.Hosting.dll
/StrategyGameDemo/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
/StrategyGameDemo/bin/Debug/net8.0/Microsoft.Extensions.Logging.Configuration.dll
/StrategyGameDemo/bin/Debug/net8.0/Microsoft.Extensions.Logging.Console.dll
/StrategyGameDemo/bin/Debug/net8.0/Microsoft.Extensions.Logging.Debug.dll
/StrategyGameDemo/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
/StrategyGameDemo/bin/Debug/net8.0/Microsoft.Extensions.Logging.EventLog.dll
/StrategyGameDemo/bin/Debug/net8.0/Microsoft.Extensions.Logging.EventSource.dll
/StrategyGameDemo/bin/Debug/net8.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
/StrategyGameDemo/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
/StrategyGameDemo/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
/StrategyGameDemo.Enums/obj/rider.project.model.nuget.info
/StrategyGameDemo/bin/Debug/net8.0/Spectre.Console.dll
/StrategyGameDemo/bin/Debug/net8.0/StrategyGameDemo
/StrategyGameDemo/obj/Debug/net8.0/StrategyGameDemo.csproj.CopyComplete
/StrategyGameDemo/obj/Debug/net8.0/StrategyGameDemo.csproj.CoreCompileInputs.cache
/StrategyGameDemo/obj/Debug/net8.0/StrategyGameDemo.csproj.FileListAbsolute.txt
/StrategyGameDemo/bin/Debug/net8.0/StrategyGameDemo.deps.json
/StrategyGameDemo/bin/Debug/net8.0/StrategyGameDemo.dll
/StrategyGameDemo/obj/Debug/net8.0/ref/StrategyGameDemo.dll
/StrategyGameDemo/obj/Debug/net8.0/refint/StrategyGameDemo.dll
/StrategyGameDemo/obj/Debug/net8.0/StrategyGameDemo.dll
/StrategyGameDemo.Enums/obj/Debug/netstandard2.1/StrategyGameDemo.Enums.csproj.CoreCompileInputs.cache
/StrategyGameDemo.Enums/obj/Debug/netstandard2.1/StrategyGameDemo.Enums.csproj.FileListAbsolute.txt
/StrategyGameDemo.Enums/bin/Debug/netstandard2.1/StrategyGameDemo.Enums.deps.json
/StrategyGameDemo/bin/Debug/net8.0/StrategyGameDemo.Enums.dll
/StrategyGameDemo.Enums/bin/Debug/netstandard2.1/StrategyGameDemo.Enums.dll
/StrategyGameDemo.Enums/obj/Debug/netstandard2.1/StrategyGameDemo.Enums.dll
/StrategyGameDemo/bin/Debug/net8.0/StrategyGameDemo.Enums.pdb
/StrategyGameDemo.Enums/bin/Debug/netstandard2.1/StrategyGameDemo.Enums.pdb
/StrategyGameDemo.Enums/obj/Debug/netstandard2.1/StrategyGameDemo.Enums.pdb
/StrategyGameDemo.Enums/obj/Debug/netstandard2.1/StrategyGameDemo.Enums.sourcelink.json
/StrategyGameDemo/obj/Debug/net8.0/StrategyGameDemo.genruntimeconfig.cache
/StrategyGameDemo/bin/Debug/net8.0/StrategyGameDemo.pdb
/StrategyGameDemo/obj/Debug/net8.0/StrategyGameDemo.pdb
/StrategyGameDemo/bin/Debug/net8.0/StrategyGameDemo.runtimeconfig.json
/StrategyGameDemo/obj/Debug/net8.0/StrategyGameDemo.sourcelink.json
/StrategyGameDemo/bin/Debug/net8.0/System.Diagnostics.DiagnosticSource.dll
/StrategyGameDemo/bin/Debug/net8.0/runtimes/win/lib/net8.0/System.Diagnostics.EventLog.dll
/StrategyGameDemo/bin/Debug/net8.0/System.Diagnostics.EventLog.dll
/StrategyGameDemo/bin/Debug/net8.0/runtimes/win/lib/net8.0/System.Diagnostics.EventLog.Messages.dll
/StrategyGameDemo/bin/Debug/net8.0/runtimes/browser/lib/net8.0/System.Text.Encodings.Web.dll
/StrategyGameDemo/bin/Debug/net8.0/System.Text.Encodings.Web.dll
/StrategyGameDemo/bin/Debug/net8.0/System.Text.Json.dll
/.idea/.idea.StrategyGameDemo/.idea/vcs.xml
